.list-header {
  font-weight: 700;
}

.solo {
  background-color: #5ccdf9;
}

.duo {
  background-color: #5cf985;
}

.squad {
  background-color: #f95cac;
}

.title-table {
  font-size: 15px;
  font-weight: 700;
}